$main-color: #000000; // 메인 컬러 정의
$point-color: #ffffff; // 포인트 컬러 정의

* {
  box-sizing: border-box;
}

// fonts
html, body, button, input, textarea {
  font-family: 'Gothic A1', sans-serif;
  //font-family: 'Nanum Gothic', sans-serif;
}

.font-poiret {
  font-family: 'Poiret One', cursive;
}

body {
  font-size: 12px;
  padding-top: 60px;
}

h1 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin: 1.5rem 0;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

.bg-dark {
  background-color: #000000 !important;
}

.gq-nav {
  height: 60px;
}

.gq-nav__logo-image {
  height: 30px;
}

.h3-wrap {
  margin-bottom: 30px;

  span {
    background: $point-color;
    color: $main-color;
    padding: 5px 10px;

    &.black-span-title {
      background: $main-color;
      color: $point-color;
    }
  }

  p {
    font-size: 14px;
  }
}

.gq-section {
  padding: 3rem 0;
  h1 {
    margin-bottom: 4rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  h1, h2, h3, h4 {
    font-weight: 300;
    font-family: 'Poiret One', cursive;
    color: $point-color;

    span {
      display: inline-block;
      padding: 0 .5rem;
      background: $main-color;

      &::before {
        content: '// '
      }
      &::after {
        content: ' //'
      }
    }
  }

  .card {
    border-radius: 0;
  }

  a {
    color: $main-color;
  }
}

.gq-section--dark {
  background: $main-color;
  color: $point-color;

  h1, h2, h3, h4 {
    color: $main-color;

    span {
      background: $point-color;
    }
  }

  a {
    color: $point-color;
  }
}

.gq-image-landscape {
  max-width: 100%;
}

.gq-image-portrait {
  max-height: 60vh;
}

ul.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

button.button-unstyled {
  border: 0;
  background-color: transparent;
}

.w-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gq-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gq-flex-between {
  @extend .gq-flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gq-justify-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@import "visual-banner";
@import "about";
@import "works";